    <!-- blog -->
    <section class="section blogs">
        <!-- section title -->
        <div class="section-title">
          <h2>blog</h2>
          <div class="underline"></div>
        </div>
        <!--end of section title -->
        <div class="section-center blogs-center">
            {% for blog in site.categories.web %}
          <a href="projects.html" class="blog-4">
            <article class="blog">
              <img
                src="./images/project-4.jpeg"
                alt="single blog"
                class="blog-img"
              />
              <div class="blog-info">
                <h4>{{ blog.title }}</h4>
                <p>{{ blog.subtitle }}</p>
              </div>
            </article>
          </a>
          {% endfor %}  
        </div>

      </section>