<!-- end of projects -->
<!-- connect -->
<section class="connect" id="contact">
  <div class="video-banner">
    <!-- section title -->
    <div class="section-title">
      <h2>let's get in touch</h2>
      <div class="underline"></div>
    </div>
    <!--end of section title -->
    <p class="video-text">
      Please feel free to contact me through LinkedIn or email!
    </p>
    <a href="mailto:shiki65536@gmail.com" class="btn"
      ><i class="fas fa-envelope-open-text"></i> email me</a
    >
    <a href="https://www.linkedin.com/in/shiki-wen-65536/" class="btn"
      ><i class="fab fa-linkedin"></i> LinkedIn</a
    >
  </div>
</section>
<!-- end of connect -->
