  <!-- end of projects -->
    <!-- connect -->
    <section class="connect">
        <div class="video-banner">
          <!-- section title -->
          <div class="section-title">
            <h2>let's get in touch</h2>
            <div class="underline"></div>
          </div>
          <!--end of section title -->
          <p class="video-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ratione
            perferendis exercitationem sit. Beatae eius commodi officiis rem
            soluta ratione dignissimos quisquam tempore laudantium, porro vitae
            cupiditate dicta magni quas corrupti aperiam, rerum minus odio totam
            repellendus delectus nostrum veniam!
          </p>
          <a href="contact/" class="btn">contact me</a>
        </div>
      </section>
      <!-- end of connect -->