<footer class="footer">
<!-- social icons -->
      <ul class="social-icons social-links">
        <li>
          <a href="https://www.twitter.com" class="social-link">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com" class="social-link">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com" class="social-link">
            <i class="fab fa-squarespace"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com" class="social-link">
            <i class="fab fa-behance"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com" class="social-link">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>

      <p>&copy; <span id="date"></span> SHIKI65535. all rights reserved</p>
    </footer>