<footer class="footer">
<!-- social icons -->
      <ul class="social-icons social-links">
        <li>
          <a href="https://www.facebook.com/shihchi.wen" class="social-link">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/shih-chi-wen-690526211/" class="social-link">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/shiki65536" class="social-link">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <!-- <li>
          <a href="https://twitter.com/shiki65536" class="social-link">
            <i class="fab fa-twitter-square"></i>
          </a>
        </li> -->
      </ul>

      <p>&copy; <span id="date"></span> SHIKI65536. all rights reserved</p>
    </footer>