  <!-- header -->
  <header class="hero">
    <div class="section-center hero-center">
      <article class="hero-info">
        <div class="underline"></div>
        <h1>i'm john</h1>
        <h4>freelance web & mobile UI/UX Designer</h4>
        <a href="contact.html" class="btn hero-btn">hire me</a>
        <!-- social icons -->
        <ul class="social-links hero-icons">
          <li>
            <a href="https://www.twitter.com" class="social-link">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com" class="social-link">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com" class="social-link">
              <i class="fab fa-squarespace"></i>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com" class="social-link">
              <i class="fab fa-behance"></i>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com" class="social-link">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </article>
      <article class="hero-img">
        <img src="{{ "/hero.svg" | prepend: site.baseurl }}" class="hero-img-svg" alt="hero photo" />
      </article>
    </div>
  </header>
  <!-- end of header -->