  <!-- header -->
  <header class="hero" id="about">
    <div class="section-center hero-center">
      <article class="hero-info">
        <div class="underline"></div>
        <h1>i'm shiki</h1>
        <h4>junior web developer & programmer.</h4>
        <a href="#contact" class="btn hero-btn">contact me</a>
        <!-- social icons -->
        <ul class="social-links hero-icons">
          <li>
            <a href="https://www.facebook.com/shihchi.wen" class="social-link">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/shih-chi-%EF%BD%97en-690526211/" class="social-link">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/shiki65536" class="social-link">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <!-- <li>
            <a href="https://twitter.com/shiki65536" class="social-link">
              <i class="fab fa-twitter-square"></i>
            </a>
          </li> -->
        </ul>
      </article>
      <article class="hero-img">
        <img src="{{ "/hero.png" | prepend: site.baseurl }}" class="hero-img-svg" alt="hero photo" />
      </article>
    </div>
  </header>
  <!-- end of header -->