  <!-- navbar -->
  <nav class="navbar" id="nav">
    <div class="nav-center">
      <div class="nav-header">
        <img src="{{ "/logo.svg" | prepend: site.baseurl }}" alt="logo" class="nav-logo">
        <button class="toggle-btn" id="toggle-btn">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <!-- navlinks -->
      <ul class="nav-links">
        <li>
          <a href="index.html">home</a>
        </li>
        <li>
          <a href="about.html">about</a>
        </li>
        <li>
          <a href="projects.html">projects</a>
        </li>
        <li>
          <a href="contact.html">contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- end of navbar -->
  <!-- sidebar -->
  <aside class="sidebar" id="sidebar">
    <div class="side-container">
      <button class="close-btn" id="close-btn">
        <i class="fas fa-times"></i>
      </button>
      <!-- nav-links -->
      <ul class="sidebar-links">
        <li>
          <a href="index.html">home</a>
        </li>
        <li>
          <a href="about.html">about</a>
        </li>
        <li>
          <a href="projects.html">projects</a>
        </li>
        <li>
          <a href="contact.html">contact</a>
        </li>
      </ul>
      <!-- social icons -->
      <ul class="social-links sidebar-icons">
        <li>
          <a href="https://www.twitter.com" class="social-link">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com" class="social-link">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com" class="social-link">
            <i class="fab fa-squarespace"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com" class="social-link">
            <i class="fab fa-behance"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com" class="social-link">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </aside>

  <!-- end of sidebar -->