  <!-- navbar -->
  <nav class="navbar" id="nav">
    <div class="nav-center">
      <div class="nav-header">
        <div class="nav-logo">
          <span class="before"></span>
          <span class="logo-text">SHIKI65536</span>
          <span class="after"></span>
        </div>
        <button class="toggle-btn" id="toggle-btn">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <!-- navlinks -->
      <ul class="nav-links">
        <li>
          <a href="{{ "/" | prepend: site.baseurl }}">home</a>
        </li>
        <!-- <li>
          <a href="{{ "#about" | prepend: site.baseurl }}">about</a>
        </li> -->
        <li>
          <a href="{{ "#projects" | prepend: site.baseurl }}">projects</a>
        </li>
        <li>
          <a href="{{ "#contact" | prepend: site.baseurl }}">contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- end of navbar -->
  <!-- sidebar -->
  <aside class="sidebar" id="sidebar">
    <div class="side-container">
      <button class="close-btn" id="close-btn">
        <i class="fas fa-times"></i>
      </button>
      <!-- nav-links -->
      <ul class="sidebar-links">
        <li>
          <a href="{{ "/" | prepend: site.baseurl }}">home</a>
        </li>
        <!-- <li>
          <a href="{{ "#about" | prepend: site.baseurl }}">about</a>
        </li> -->
        <li>
          <a href="{{ "#projects" | prepend: site.baseurl }}">projects</a>
        </li>
        <li>
          <a href="{{ "#contact" | prepend: site.baseurl }}">contact</a>
        </li>
      </ul>
      <!-- social icons -->
      <ul class="social-links sidebar-icons">
        <!-- <li>
          <a href="https://www.twitter.com" class="social-link">
            <i class="fab fa-facebook"></i>
          </a>
        </li> -->
        <li>
          <a href="https://www.linkedin.com/in/shih-chi-%EF%BD%97en-690526211/" class="social-link">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/shiki65536" class="social-link">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/shiki65536" class="social-link">
            <i class="fab fa-twitter-square"></i>
          </a>
        </li>
      </ul>
    </div>
  </aside>

  <!-- end of sidebar -->